<!-- Begin Page Content -->
<div class="container-fluid">

    <% if (msg.length !== 0) { %>
        <div class="alert alert-success" role="alert"><%= msg %></div>
        <% } %>
    
        
      <% if(typeof errors != "undefined") { %>
        <div class="alert alert-primary" role="alert">
          <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
          <% }) %>
        </div>
        <% } %>

        
        <% if (kehadiran.length === 0) { %>
            <div class="alert alert-warning" role="alert">Data Kehadiran Tidak Tersedia</div>
            <% } %>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Detail Kehadiran</h1>
    </div>
    
    <!-- Here is body code -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th style="min-width: 70px;">Kode_Pegawai</th>
                <th style="min-width: 70px;">Jabatan</th>
                <th style="min-width: 100px;">Nama</th>
                <th style="min-width: 70px;">Tanggal</th>
                <th style="min-width: 100px;">Keterangan</th>
                <th style="min-width: 70px;">Jam Masuk</th>                
                <th style="min-width: 70px;">Jam Keluar</th>          
                <th style="min-width: 70px;">Total Jam</th>          
                <th style="min-width: 70px;">Action</th>              
            </thead>
            <tbody>
                <% kehadiran.forEach((hadir) => {%>
                    <tr class="text-center">
                        <td><%= hadir.kode %></td>
                        <td><%= hadir.jabatan %></td>
                        <td><%= hadir.nama %></td>
                        <td><%= hadir.tanggal_formatted %></td>
                        <td><%= hadir.keterangan %></td>
                        <td><%= hadir.jam_masuk %></td>
                        <td><%= hadir.jam_keluar %></td>
                        <td style="color: red"><%= hadir.total_jam %> Jam</td>
                        <td>
                            <a href="/dashboard/kehadiran/delete/<%= hadir.id_kehadiran  %>" button onclick="return confirm('Apakah yakin untuk menghapus kontak?')" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                        <% }) %>
            </tbody>
        </table>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->