<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Data Kehadiran</h1>
    </div>
    <!-- Here is body code -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th style="min-width: 70px;">ID_Kehadiran</th>
                <th style="min-width: 70px;">Kode</th>
                <th style="min-width: 70px;">Jabatan</th>
                <th style="min-width: 100px;">Nama</th>
                <th style="min-width: 70px;">Tanggal</th>
                <th style="min-width: 100px;">Keterangan</th>
                <th style="min-width: 70px;">Jam Masuk</th>                
                <th style="min-width: 70px;">Jam Keluar</th>                
            </thead>
            <tbody>
                <% kehadiran.forEach((hadir) => {%>
                    <tr class="text-center">

                        <td><%= hadir.id_kehadiran %></td>
                        <td><%= hadir.kode %></td>
                        <td><%= hadir.jabatan %></td>
                        <td><%= hadir.nama %></td>
                        <td><%= hadir.tanggal %></td>
                        <td><%= hadir.keterangan %></td>
                        <td><%= hadir.jam_masuk %></td>
                        <td><%= hadir.jam_keluar %></td>
                        <% }) %>
            </tbody>
        </table>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->