<!-- Begin Page Content -->
<div class="container-fluid">

    <% if (kehadiran.length === 0) { %>
        <div class="alert alert-warning" role="alert">Data Kehadiran Tidak Tersedia</div>
        <% } %>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Rekap Kehadiran</h1>
        <!-- <a href="/dashboard/rekap/cetak/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Cetak Kehadiran</a> -->
    </div>

    <!-- Here is body code -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th style="min-width: 70px;">Kode_Pegawai</th>
                <th style="min-width: 70px;">Jabatan</th>
                <th style="min-width: 70px;">Nama</th>
                <th style="min-width: 70px;">Tanggal</th>
                <th style="min-width: 70px;">Keterangan</th>             
            </thead>
            <tbody>
                <% kehadiran.forEach((hadir) => {%>
                    <tr>
                        <td><%= hadir.kode %></td>
                        <td><%= hadir.jabatan %></td>
                        <td><%= hadir.nama %></td>
                        <td><%= hadir.tanggal_formatted %></td>
                        <td><%= hadir.keterangan %></td>
                        <% }) %>
            </tbody>
        </table>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<!-- Di dalam tag script di halaman EJS atau di file JavaScript terpisah -->
