<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Detail Pegawai</h1>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">ID Pegawai :  <%= employee.id_pegawai ? employee.id_pegawai: '' %></h3>
    <p class="card-text">Username :  <%= employee.username ? employee.username: '' %></p>
    <p class="card-text">Password :  <%= employee.password ? employee.password: '' %></p>
    <p class="card-text">Nama :  <%= employee.nama ? employee.nama: '' %></p>
    <p class="card-text">Jabatan :  <%= employee.jabatan ? employee.jabatan: '' %></p>
  </div>
</div>
<div class="mt-3">
  <a href="/dashboard/admin/" class="card-link mt-2 p-2 rounded rounded-2" style="color: white; background-color: #198754;">Kembali</a>
</div>
</div>

