<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-flex justify-content-evenly">
        <div class="col">
            <a href="/dashboard/admin/tambah" class="btn btn-primary mb-4">+ Tambah Data</a>
        </div>
    </div>

    <!-- menampilkan pesan message dari flash -->
<% if (msg.length !== 0) { %>
<div class="alert alert-success" role="alert"><%= msg %></div>
<% } %>

<% if (employees.length === 0) { %>
<div class="alert alert-warning" role="alert">Data Pegawai tidak tersedia</div>
<% } %>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Data Pegawai</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID Pegawai</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% employees.forEach((pegawai) => {%>
                            <tr class="text-center">
                                <td><%= pegawai.id_pegawai %></td>
                                <td><%= pegawai.username %></td>
                                <td><%= pegawai.password %></td>
                                <td class="text-center">
                                    <a href="/dashboard/admin/<%= pegawai.id_pegawai %>" class="btn btn-info btn-sm">Detail</a>
                                    <a href="/dashboard/admin/update/<%= pegawai.id_pegawai %>" class="btn btn-warning btn-sm">Edit</a>
                                    <a href="/dashboard/admin/delete/<%= pegawai.id_pegawai  %>" button onclick="return confirm('Apakah yakin untuk menghapus kontak?')" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->